<ul class="nav nav-list">

    

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-user-md"></i>
            <span class="menu-text"> Veterinario </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="/administracao/Veterinario")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Lista
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/administracao/Veterinario/Cadastrar" )">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Cadastrar
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-user"></i>
            <span class="menu-text"> Cliente </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="/administracao/Cliente" )">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Lista
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/administracao/Cliente/Cadastrar" )">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Cadastrar
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Espécie </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="/administracao/Especie" )">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Lista
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/administracao/Especie/Cadastrar" )">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Cadastrar
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-paw"></i>
            <span class="menu-text"> Animal </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="/administracao/Animal" )">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Lista
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/administracao/Animal/Cadastrar" )">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Cadastrar
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-medkit"></i>
            <span class="menu-text"> Tratamento </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="/administracao/Tratamento" )">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Lista
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/administracao/Tratamento/Cadastrar" )">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Cadastrar
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-stethoscope"></i>
            <span class="menu-text"> Consulta </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="/administracao/Consulta" )">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Lista
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/administracao/Consulta/Cadastrar" )">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Cadastrar
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-plus-square"></i>
            <span class="menu-text"> Exame </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="/administracao/Exame" )">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Lista
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/administracao/Exame/Cadastrar" )">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Cadastrar
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-file-pdf-o"></i>
            <span class="menu-text"> Relatório </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            
            <li class="">
                <a href="#" )">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Gerar em PDF
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>


   

</ul><!-- /.nav-list -->
